@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    margin: 0;
    @apply h-full bg-[#f8f8f8] dark:bg-[#06070D];
}

#transparent_gradient:after {
    background-image: linear-gradient(180deg,rgba(6,7,13,0) 0,#06070D 70%,#06070D);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 500px;
    transform: translateY(-100%);
}

#magic-spacer:not(:focus):not(:active):not(:focus-within) {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    white-space: nowrap;
}

#reflection:before {
    position: absolute;
    content: "";
    display: block;
    pointer-events: none;
    transition: all .1s linear;
    transform-origin: 0 0;
    background-image: radial-gradient(ellipse at 110% 130%,#fff,hsla(0,0%,100%,0) 80%);
    background-position-y: 0;
    background-repeat: no-repeat;
    top: -50px;
    left: 40%;
    margin-left: -80px;
    width: 100px;
    height: 100px;
    transform: rotate(-68deg) translateX(-50%);
    opacity: .8;
    z-index: -1;
}

#reflection:hover::before {
    left: 50%;
    opacity: .5;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.gap-safari > *  {
  margin: 0.25rem;
}